h2, h2.title {
  font-size: 6rem;
  line-height: 1;
  font-weight: 300;
  position: relative;
  color: #20242c;
  @include mobile() {
    font-size: 3.5rem;
  }
}

.large-type {
  @include largeType();
  p {
    @include largeType();
  }
}

.medium-type {
  @include mediumType();
  p {
    @include mediumType();
  }
}

.rich-text {
  > *:last-child {
    margin-bottom: 0;
  }
  h3 {
    @include largeType();
    margin-bottom: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: $weight-normal;
    margin-bottom: 1.25rem;
    strong {
      font-weight: $weight-medium;
    }
  }
  h5 {
    font-size: 1rem;
    font-weight: $weight-medium;
    strong {
      font-weight: $weight-bold;
    }
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 0;
  }
  a {
    color: darken($primary, 10%);
  }
}

.has-text-white {
  strong {
    color: $white;
  }
}
.has-text-black {
  strong {
    color: $black;
  }
}