@import "settings";
@import "~bulma/sass/utilities/mixins";

@mixin autoAlpha($opacity: 1, $visibility: visible) {
  @if $opacity == "0" {
    $visibility: hidden;
  }
  opacity: $opacity;
  visibility: $visibility;
}

@mixin largeType() {
  font-size: 1.625rem;
  strong {
    font-weight: $weight-medium;
  }
}

@mixin mediumType() {
  font-size: 1.25rem;
  strong {
    font-weight: $weight-medium;
  }
}